{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <!--页面主要内容-->
    <main class="lyear-layout-content" id="{{ platform_uid }}">
        <div class="container-fluid">
            <div class="card">
                <div class="card-toolbar clearfix">
                    <div class="row">
                        <div class="col-sm-6 col-lg-11" style="padding-left: 2px">
                            <a type="button" class="btn btn-link" href="/account/auth/list/">
                                <i class="mdi mdi-keyboard-backspace">
                                    返回
                                </i>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-primary">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">点赞</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="like_count">{{ data.like_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-heart mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-success">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">评论</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="comment_count">{{ data.comment_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-comment-processing mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-info">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">播放</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="play_count">{{ data.play_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-play-circle mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-warning">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">下载/推荐</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="download_count">{{ data.download_rec_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-arrow-down-thick mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-danger">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">分享/赞同</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="share_count">{{ data.share_vote_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-share-variant mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-purple">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">转发/收藏</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="forward_count">{{ data.forward_collect_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-star mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>每日播放</h4>
                        </div>
                        <div class="card-body">
                            <div id="daily_play" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>每日点赞</h4>
                        </div>
                        <div class="card-body">
                            <div id="daily_like" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>每日评论</h4>
                        </div>
                        <div class="card-body">
                            <div id="daily_comment" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>每日下载/推荐</h4>
                        </div>
                        <div class="card-body">
                            <div id="daily_download" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>TOP10</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>平台</th>
                                        <th>类型</th>
                                        <th>标题</th>
                                        <th>创建时间</th>
                                        <th>点赞数</th>
                                        <th>评论数</th>
                                        <th>播放数</th>
                                        <th>下载/推荐</th>
                                        <th>分享/赞同</th>
                                        <th>转发/收藏</th>
                                        <th>查看</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in top_10 %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.get_platform_display }}</td>
                                            <td>{{ item.type }}</td>
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.create_time }}</td>
                                            <td>{{ item.like_count }}</td>
                                            <td>{{ item.comment_count }}</td>
                                            <td>{{ item.play_count }}</td>
                                            <td>{{ item.download_rec_count }}</td>
                                            <td>{{ item.share_vote_count }}</td>
                                            <td>{{ item.forward_collect_count }}</td>
                                            <td>
                                                <a href="{{ item.share_url }}" target="_blank">
                                                    查看
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!--End 页面主要内容-->
{% endblock %}

{% block js %}
    <!--图表插件-->
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript">
        function chartsShow(chartsId, category, data) {
            // 基于准备好的dom，初始化echarts实例
            const myChart = echarts.init(document.getElementById(chartsId));

            // 指定图表的配置项和数据
            const option = {
                tooltip: {
                    trigger: 'axis'
                },
                dataZoom: [
                    {
                        id: 'dataZoomX',
                        type: 'slider',
                        xAxisIndex: [0],
                        filterMode: 'filter', // 设定为 'filter' 从而 X 的窗口变化会影响 Y 的范围。
                        start: 70,
                        end: 100
                    },
                ],
                xAxis: {
                    type: 'category',
                    data: category
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: data,
                        type: 'line'
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }

        const platform_uid = document.querySelector(".lyear-layout-content");
        (function () {
            $.ajax({
                url: "/account/auth/detail/echarts/",
                type: "get",
                data: {
                    platform_uid: platform_uid.id
                },
                success: function (res) {
                    if (res) {
                        const backendData = res.backendData;

                        chartsShow("daily_play", backendData.categories, backendData.seriesData.play_sum);
                        chartsShow("daily_like", backendData.categories, backendData.seriesData.like_sum);
                        chartsShow("daily_comment", backendData.categories, backendData.seriesData.comment_sum);
                        chartsShow("daily_download", backendData.categories, backendData.seriesData.download_rec_sum);
                    }
                }
            })
        })()
    </script>
{% endblock %}
