{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <!--页面主要内容-->
    <main class="lyear-layout-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-toolbar clearfix">
                    <div class="row">
                        <div class="col-sm-6 col-lg-11" style="padding-left: 2px">
                            <a type="button" class="btn btn-link">数据更新于：{{ update_time }}</a>
                        </div>
                        <div class="col-sm-6 col-lg-1" style="text-align: right; padding-right: 2px">
                            <a type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="padding-bottom: 5px">
                                {{ current }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for foo in dropdown %}
                                    <li><a href="{{ foo.url }}">{{ foo.platform }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-primary">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">点赞</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="like_count">{{ data.like_count__sum}}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-heart mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-success">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">评论</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="comment_count">{{ data.comment_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-comment-processing mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-info">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">播放</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="play_count">{{ data.play_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-play-circle mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-warning">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">下载/推荐</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="download_count">{{ data.download_rec_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-arrow-down-thick mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-danger">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">分享/赞同</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="share_count">{{ data.share_vote_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-share-variant mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card bg-purple">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">转发/收藏</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x"
                                           id="forward_count">{{ data.forward_collect_count__sum }}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent">
                                        <i class="mdi mdi-star mdi-24px"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>平台播放总量</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echartsPlatformPlayCount" style="height:500px; width: 100%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>平台互动总量</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echartsPlatformInteractionCount" style="height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>账号播放总量</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echartsAccountPlayCount" style="height:500px; width: 100%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>账号互动总量</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echartsAccountInteractionCount" style="height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>词云图</h4>
                                </div>
                                <div class="card-body">
                                    <div id="echartsTitleWordCloud" style="height: 400px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>TOP10</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>平台</th>
                                                <th>类型</th>
                                                <th>标题</th>
                                                <th>创建时间</th>
                                                <th>点赞数</th>
                                                <th>评论数</th>
                                                <th>播放数</th>
                                                <th>下载/推荐</th>
                                                <th>分享/赞同</th>
                                                <th>转发/收藏</th>
                                                <th>查看</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in top_10 %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ item.get_platform_display }}</td>
                                                    <td>{{ item.type }}</td>
                                                    <td>{{ item.title }}</td>
                                                    <td>{{ item.create_time }}</td>
                                                    <td>{{ item.like_count }}</td>
                                                    <td>{{ item.comment_count }}</td>
                                                    <td>{{ item.play_count }}</td>
                                                    <td>{{ item.download_rec_count }}</td>
                                                    <td>{{ item.share_vote_count }}</td>
                                                    <td>{{ item.forward_collect_count }}</td>
                                                    <td>
                                                        <a href="{{ item.share_url }}" target="_blank">
                                                            查看
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </main>
    <!--End 页面主要内容-->
{% endblock %}

{% block js %}
    <!--图表插件-->
    <!--图表插件-->
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script src="{% static 'js/lightyear.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            let platformPlayData = [
                ['演示平台1', 2414366],
                ["演示平台2", 406213],
                ['演示平台3', 1320661],
                ['演示平台4', 3030291]
            ]
            let platformInteractionData = [
                ['演示平台1', 32],
                ["演示平台2", 21],
                ['演示平台3', 11],
                ['演示平台4', 31]
            ]
            let accountPlayData = [
                ['演示账号1', 235041],
                ['演示账号2', 169098],
                ['演示账号3', 28216],
                ['演示账号4', 1015352],
                ['演示账号5', 307582],
                ['演示账号6', 471297],
            ]
            let accountInteractionData = [
                ['演示账号1', 11],
                ['演示账号2', 9.3],
                ['演示账号3', 2.1],
                ['演示账号4', 4.5],
                ['演示账号5', 14.2],
                ['演示账号6', 10.22]
            ]
            let wordsCloudData = [
                {'演示词1': 11},
                {'演示词2': 9.3},
                {'演示词3': 2.1},
                {'演示词4': 4.5},
                {'演示词5': 14.2},
                {'演示词6': 10.22}]
            // 图标请求
            $.ajax({
                url: "/data/screen/get/",
                type: "get",
                success: function (res) {
                    if (res.status) {
                        // console.log(res.data)
                        platformPlayData = res.data.platform_play_count
                        platformInteractionData = res.data.platform_interaction_count
                        accountPlayData = res.data.account_play_count
                        accountInteractionData = res.data.account_interaction_count

                        renderPlatformEcharts('echartsPlatformPlayCount', platformPlayData);
                        renderPlatformEcharts('echartsPlatformInteractionCount', platformInteractionData);
                        renderAccountEcharts('echartsAccountPlayCount', accountPlayData);
                        renderAccountEcharts('echartsAccountInteractionCount', accountInteractionData);

                    } else {
                        lightyear.notify(res.message, 'danger', 5000, 'mdi mdi-emoticon-dead', 'top', 'center')
                        renderPlatformEcharts('echartsPlatformPlayCount', platformPlayData);
                        renderPlatformEcharts('echartsPlatformInteractionCount', platformInteractionData);
                        renderAccountEcharts('echartsAccountPlayCount', accountPlayData);
                        renderAccountEcharts('echartsAccountInteractionCount', accountInteractionData);
                    }
                }
            })

            // 词云请求

            $.ajax({
                url: "/data/screen/get/wordsCloud/",
                type: 'get',
                success: function (res) {
                    if (res.status) {
                        wordsCloudData = res.data
                        renderTitleWordCloud(wordsCloudData)
                    } else {
                        lightyear.notify(res.message, 'danger', 5000, 'mdi mdi-emoticon-dead', 'top', 'center')
                        renderTitleWordCloud(wordsCloudData)
                    }
                }
            })
        })

        //  渲染平台数据图表
        function renderPlatformEcharts(EchartsID, data) {
            if (data.length <= 0) {
                document.getElementById(EchartsID).innerHTML = '<h3>暂无数据<h3><a href="/account/data/list/">请先更新数据<a>';
            } else {
                // 实例化Echarts对象
                let myChart = echarts.init(document.getElementById(EchartsID))
                // 配置图表，判断是哪个表
                let scaleName = EchartsID.includes("Interaction") ? "互动量" : "播放量"
                // Echarts配置项
                let option = {
                    // 悬停工具提示
                    tooltip: {
                        trigger: 'item'
                    },
                    // 图例
                    legend: {
                        orient: 'horizontal', // 方向
                        left: 'left' // 位置
                    },
                    // 数据集
                    dataset: {
                        source: data
                    },
                    //右上角的功能小按钮
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {type: ['line', 'bar']}, // 切换图标
                            restore: {}, // 刷新
                            saveAsImage: {} // 保存
                        }
                    },
                    xAxis: {
                        type: 'category',
                        name: '平台',
                    },
                    yAxis: {
                        type: 'value',
                        name: scaleName,
                    },
                    // 条形图网格
                    grid: [
                        {bottom: '1%', top: '50%', left: '0%', containLabel: true} // 位置布局
                    ],
                    series: [
                        {
                            name: scaleName,
                            type: 'pie',
                            radius: '30%',
                            // 设置饼图的起始角度，默认为0，表示从正上方开始，配合startAngle可以实现饼图的自定义排序
                            minAngle: 15,//最小角度
                            startAngle: 360, //起始角度
                            encode: {itemName: 0, value: 1},
                            center: ['50%', '25%'],
                            label: {        //展示文本设置
                                normal: {
                                    show: true, //展示
                                    formatter: '{b} | ({d}%)'
                                },
                            },
                            labelLine: { // 引导线展示
                                normal: {
                                    length2: 20,
                                    lineStyle: {
                                        width: 1,
                                    },
                                },
                            },
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        },
                        {
                            type: 'bar',
                            encode: {x: 0, y: 1},
                            label: {
                                show: true,
                                position: 'top'
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均播放量', lineStyle: {color: "#faa64b"}},
                                ]
                            },
                            itemStyle: {
                                normal: {
                                    color: '#33cabb'
                                }
                            },

                        }
                    ]
                }
                myChart.setOption(option)
                // 监听窗口大小变化事件
                window.onresize = function () {
                    // 重新设置图表的宽度和高度
                    myChart.resize();
                }
            }
        }

        //  渲染账号数据图表
        function renderAccountEcharts(EchartsID, data) {
            if (data.length <= 0) {
                document.getElementById(EchartsID).innerHTML = '<h3>暂无数据<h3><a href="/account/data/list/">请先更新数据<a>';
            } else {
                // 实例化Echarts对象
                let myChart = echarts.init(document.getElementById(EchartsID))
                // 配置图表，判断是哪个表
                let scaleName = EchartsID.includes("Interaction") ? "互动量" : "播放量"
                let option = {
                    // 悬停工具提示
                    tooltip: {
                        trigger: 'item'
                    },
                    // 数据集
                    dataset: {
                        source: data
                    },
                    //右上角的功能小按钮
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {type: ['line', 'bar']}, // 切换图标
                            restore: {}, // 刷新
                            saveAsImage: {} // 保存
                        }
                    },
                    yAxis: {
                        type: 'category',
                        name: '账号'
                    },
                    xAxis: {
                        type: 'value',
                        name: scaleName,
                        // interval:300000// 设置x轴的间隔
                        scale: true
                    },
                    // 条形图网格
                    grid: [
                        {bottom: '1%', top: '50%', left: '0%', containLabel: true} // 位置布局
                    ],
                    series: [
                        {
                            name: scaleName,
                            type: 'pie',
                            radius: '30%',
                            // 设置饼图的起始角度，默认为0，表示从正上方开始，配合startAngle可以实现饼图的自定义排序
                            minAngle: 15, //最小角度
                            startAngle: 360, //起始角度
                            encode: {itemName: 0, value: 1},
                            center: ['50%', '25%'],
                            labelLine: {
                                // 引导线展示
                                normal: {
                                    length2: 20,
                                    lineStyle: {
                                        width: 1
                                    }
                                }
                            },
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        },
                        {
                            type: 'bar',
                            encode: {y: 0, x: 1},
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均播放量', lineStyle: {color: '#faa64b'}},
                                ]
                            },
                            itemStyle: {
                                normal: {
                                    color: '#33cabb'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option)
                // 监听窗口大小变化事件
                window.onresize = function () {
                    // 重新设置图表的宽度和高度
                    myChart.resize();
                }
            }
        }

        // 渲染标题词云图
        function renderTitleWordCloud(data) {
            let myChart = echarts.init(document.getElementById('echartsTitleWordCloud'))
            let option = {
                tooltip: {},
                series: [{
                    type: 'wordCloud',
                    gridSize: 1,
                    sizeRange: [20, 100],
                    rotationRange: [-90, 90],
                    shape: 'square',
                    left: 'center',
                    top: 'center',
                    width: '100%',
                    height: '100%',
                    drawOutOfBound: true,
                    textStyle: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        textStyle: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: data
                }]
            }

            myChart.setOption(option)
            // 监听窗口大小变化事件
            window.onresize = function () {
                // 重新设置图表的宽度和高度
                myChart.resize()
            }
        }


    </script>
{% endblock %}
